.DS_Store
Thumbs.db
.cache/
.idea/
.vscode/
.trae/

*.o
*.obj
*.lo
*.la
*.al
*.a
*.lib
*.so
*.dylib
*.dll
*.exe
*.out
*.app
*.i
*.ii
*.s
*.swp
*.swo
*.stackdump

CMakeCache.txt
CMakeFiles/
cmake-build-*/
CMakeScripts/
Testing/

build/
build-*/
bin/
Debug/
Release/
out/

*.log
.env
.env.*

node_modules/
dist/
pnpm-debug.log*
npm-debug.log*
yarn-error.log*